.donut-text {
    color: black;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    line-height: 0;
    width: 100%;
    text-align: center;
}
.donut-legend {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1px;
    white-space: nowrap;
    color: black;
}